#one {
    background-color: black;
    color: white;
    font-weight: 800;
}
#two {
    background-color: yellow;
}
.shared {
    font-size: 28;
    font-family: "Helvetica", "Times New Roman", sans-serif;
}